.guessInput {
  display: flex;
  flex-direction: column;
}

.shown {
  /* position: absolute; */
  display: flex;
  position: relative;
  left: 0;
  right: 0;
  /*top: 0; */
  width: 100%;
  max-width: 400px;
  max-height: 100px;
  margin: 0 auto;
  padding: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px 4px 4px 4px;
}

.won {
  animation: slideUp 750ms cubic-bezier(0, 0.72, 0.24, 1.02);
  will-change: transform;
  z-index: -1;
  background-color: green;
  font-size: 40px;
}

.lost {
  animation: slideUp 750ms cubic-bezier(0, 0.72, 0.24, 1.02);
  will-change: transform;
  z-index: -1;
  background-color: orange;
  font-size: 40px;
}

.hidden {
  display: none;
}
