.previous_guess_wrapper {
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.75); */
  justify-content: space-around;
  /* flex-direction: column; */
}
.previous_guess_letter {
  display: flex;
  height: 60px;
  width: 60px;
  border: 3px solid black;
  border-radius: 4px;
  font-size: 50px;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.correct {
  background-color: green;
}
.incorrect {
  background-color: gray;
}
.misplaced {
  background-color: orange;
}
